* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
}

.box {
    width: 100%;
    overflow: none;
}

.menu-item-name{
    overflow: none;
    text-align: center;
    border: 3px solid black;
    width: 100px;
    height: 40px;
    padding: 5px;
    float: right;
    margin-right: 36px;
    margin-top: 0px;
    font-weight: bold;
    position: relative;
}

.menu-item-content {
    border: 3px solid black;
    text-align: justify;
    width: 90%;
    height: auto;
    margin: 2.5%;
    color: black;
    font-size: 25px;
    padding: 2%;
    padding-top: 55px;
    background-color: rgba(112,112,112,0.5);
}

/** Coloring Names **/
.menu-item-1{
    background-color: pink;
}
.menu-item-2{
    background-color: maroon;
    color: white;
}
.menu-item-3{
    background-color: yellow;
}

/** Large devices only **/
@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

/** Medium devices only **/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      margin-left: -10px;
      width: 100%;
    }
    .menu-item-3{
      margin-right: 65px;
      width: 100px;
    }
    .item-3 {
        width: 100%;
    }
  }
  
  /** Small Devices Only **/
  @media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
    .menu-item-name{
        margin-right: 30px;
    }
  }